*{
    box-sizing: border-box;
    justify-content: center;
    background-color: #ededed;
}

button {
    width: 160px;
    height: 45px;
}

.heading{
    font-size: 90px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 600;
    color: #353839;
}

.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subcontainer{
    display: flex;
    width: 100%;
}

.leftside{
    display: flex;
    flex-direction: column;
    width: 570px;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 25px;
}

.rightside{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-left: 115px;
    background-color: white;
}

.division{
    color: white;
    border: 1px solid #ddd;
}

#resize{
    display: flex;
    font-size: 16px;
    padding: 10px 60px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #353839;
    margin-top: 10px;
}

#clear{
    display: flex;
    font-size: 16px;
    padding: 10px 60px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #353839;
    margin-top: 10px;
}