*{
    box-sizing: border-box;
    justify-content: center;
    background-color: #ECEAE6;
}

.heading{
    font-size: 90px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 530;
    color: #1F1F1F;
}

.maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subcontainer{
    display: flex;
    width: 100%;
}

.leftside{
    display: flex;
    width: 540px;
    justify-content: flex-end;
    align-items: flex-start;
}

.rightside{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-left: 150px;
    background-color: white;
}

.division{
    color: white;
    border: 1px solid #ddd;
}

#resize{
    display: flex;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #1F1F1F;
    margin-top: 10px;
}
